<header>
  <nav class="navbar navbar-light bg-light shadow-sm">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" routerLink="/">
        <img src="../../assets/images/logo/descuentin.png" alt="logo" width="80">
        <div>
            <h3 class="titulo-logo">DE$CUENTINES</h3>
            <h5 class="titulo-logo">Cuidamos su bolsillo</h5>
        </div>
        <H4></H4>
      </a>
      <div>
        <button type="button" class="btn btn-primary me-2">Iniciar Sesión</button>
        <button type="button" class="btn btn-outline-primary">Registrarse</button>
      </div>
    </div>
  </nav>
</header>
