<footer class="my-3">
  <hr>
  <div class="container">
      <footer class="d-flex flex-column justify-content-center align-items-center flex-lg-row justify-content-lg-between">
        <p class="text-muted">© 2022 TECHILE, Inc</p>
    
        <a [routerLink]="['/']" routerLinkActive="router-link-active" >
          <img src="../../assets/images/logo/descuentin.png" alt="" width="50">
        </a>
    
        <ul class="nav">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
      </footer>
    </div>
</footer>

