<div class="mx-auto col-10 col-md-7 col-lg-5 mt-4">
    <div class="card py-2 px-1">
        <div class="card-body">
            <h4 class="card-title mb-3">
                ¡Encuentra tuuus de$cuentines aquí!
            </h4>
            <app-search-bar (filter)="getFilter($event)"></app-search-bar>
            
        </div>

        <div class="">
            <a *ngFor="let beneficio of beneficiosList | beneficiosPipe: this.beneficiosFilter" 
                [routerLink]="['/','beneficio',beneficio.id_beneficio]"
                class="list-group-item list-group-item-action"
            >
                {{beneficio.nombre}}
            </a>
          
    </div>
</div>