<h2 class="my-5 text-center">Beneficios</h2>

<div class="container-fluid">
    <div class="row row-cols-4 gap-3 justify-content-center">
        <div *ngFor="let item of getBeneficios()" class="card col" style="width: 18rem;">
            <img src="{{item.imagen}}" class="card-img-top" alt="logo">
            <div class="card-body">
              <h5 class="text-center card-text">{{item.nombre}}</h5>
            </div>
        </div>
        <!-- <div class="card col" style="width: 18rem;">
            <img src="../../assets/images/bci-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card col" style="width: 18rem;">
            <img src="../../assets/images/bci-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card col" style="width: 18rem;">
            <img src="../../assets/images/bci-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div> -->
    </div>
</div>

