<h2 class="my-5 text-center fs-1">Beneficios</h2>

<div class="container-fluid">
    <div class="row row-cols-3 gap-3 justify-content-center">
        <div *ngFor="let item of getBeneficios()" class="card col" style="width: 18rem;" [routerLink]="['/','beneficio',item.id_beneficio]">
            <img src="{{item.imagen}}" class="card-img-top" alt="logo">
            <div class="text-center card-body">
              <h5 class="mb-3">{{item.nombre}}</h5>
              <p class="mb-1">{{item.descripcion}}</p>
              <p>{{item.tarjeta}}</p>
              <h3><span class="badge bg-danger text-white">{{item.porcentaje_descuento}}% OFF</span></h3>
              <p>{{item.ubicacion}}</p>
            </div>
        </div>
    </div>
</div>

